.main {
  min-height: 90vh;
  width: 40%;
  margin: auto;
  padding: 7rem 5rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: rgb(57, 138, 233);
}

.heading {
  font-weight: 300;
  margin-left: 12%;
  margin-bottom: -1rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.input,
.textarea {
  background-color: white;
  width: 77%;
  padding: 0.5rem 2rem;
  border: 0.2px solid rgb(153, 153, 153);
  border-radius: 50px;
  color: rgb(94, 94, 94);
  font-size: 1.3rem;
}

.textarea {
  height: 130px;
  border-radius: 15px;
  font-size: 1.5rem;
}

.label {
  display: flex;
  margin-top: 1rem;
}

.labelName {
  width: 12%;
}

.submitbtn {
  color: white;
  background-color: rgb(48, 155, 248);
  align-self: center;
  margin-top: 1rem;
  padding: 1.1rem 3.5rem;
  font-size: 1.2rem;
  border-radius: 3px;
}
