.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  height: 100vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.Section {
  position: relative;
  width: 50%;
  height: 100%;
}

.food,
.cloth {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.text {
  /* margin-top: 15vh; */
  margin-left: 12%;
  text-align: left;
}

.heading {
  font-size: 4rem;
}
.para {
  margin-top: 2.5rem;
  font-size: 2.4rem;
  width: 60%;
  line-height: 3.5rem;
}

.image {
  /* margin-top: 4rem; */
  text-align: center;
  transform: translateY(-15px);
}

.placeHolder {
  width: 170px;
  height: 170px;
}

.btnLink,
.btnLink:visited {
  display: inline-block;
  align-self: center;
  padding: 0.6rem 3.8rem;
  border: 2px solid rgb(240, 248, 254);
  color: rgb(240, 248, 254);
  border-radius: 8px;
  transform: translateY(-20px);
}

.btnLink:hover {
  color: white;
  border: 2px solid white;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
}
.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
