.container {
  background-color: rgb(197, 197, 197);
  height: 100vh;
  padding-top: 5rem;
}
.main {
  height: 70vh;
  width: 40%;
  margin: auto;
  /* padding: 2rem 2rem; */
  font-size: 1.5rem;
  /* font-weight: 300; */
  color: rgb(48, 155, 248);
  background-color: white;
  border: 1px solid rgb(109, 109, 109);
  border-radius: 100px;
}

.form,
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.form {
  width: 60%;
  margin-top: -2rem;
}

.heading {
  font-size: 3rem;
  font-weight: 600;
}

.btnLogin1,
.btnLogin2,
.labelName,
.submitbtn {
  color: white;
  background-color: rgb(48, 155, 248);
  width: 60%;
  padding: 1rem 0rem;
  font-weight: 600;
}

.btnLogin2 {
  margin-top: -2.5rem;
}
.submitbtn {
  width: 20%;
  padding: 0rem 0rem;
  margin-top: 2.5rem;
  border-radius: 3px;
}
.submitbtn:hover,
.btnLogin1:hover,
.btnLogin2:hover {
  background-color: rgb(64, 161, 247);
  cursor: pointer;
}

.input {
  width: 80%;
  font-size: 1.3rem;
  padding: 1rem 2rem;
  color: rgb(94, 94, 94);
  border: 1px solid rgb(222, 239, 253);
}
.input::placeholder {
  font-size: 1.2rem;
  color: rgb(205, 227, 245);
}

.labelName {
  width: 27%;
  font-size: 1rem;
  text-align: center;
}

.label,
.signup {
  display: flex;
}

.label {
  width: 100%;
  margin-top: 1.5rem;
}
.signup,
.signupBtn {
  color: rgb(45, 131, 232);
  font-weight: bold;
}
.signupBtn {
  text-decoration: underline;
  margin-left: 1rem;
  cursor: pointer;
}
