.card {
  width: 150px;
  height: 180px;
  background-color: rgb(249, 82, 86);
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
  border: 1px solid rgb(249, 82, 86);
  border-radius: 3px;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-3px) scale(1.05);
}

.image {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}
.details {
  text-align: center;
  padding-bottom: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
}
.para1 {
  font-size: 1.5rem;
  margin-top: 0.2rem;
}
.para2 {
  margin-top: 0.2rem;
}
