.card {
  height: 300px;
  width: 23%;
  background-color: rgb(238, 238, 238);
  display: inline-block;
  padding: 1rem 1rem;
  padding-bottom: 2.5rem;
  border-radius: 20px;
  transition: all 0.2s;
  margin: 30px 1% 0 1%;
  text-align: center;
}
.card:hover {
  transform: translateY(-3px) scale(1.05);
}

.text {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.name {
  text-transform: capitalize;
}

.cardbtn {
  align-self: center;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 2rem;
  padding: 0.2rem 1.7rem;
  background-color: rgb(246, 204, 111);
  border-radius: 50px;
  cursor: pointer;
}

.img{
  width: 100%;
  height: 70%;
}