.footer {
  width: 100vw;
  height: 170px;
  display: flex;
  background-color: rgb(243, 190, 75);
  padding: 0rem 21rem;
  align-items: center;
  justify-content: space-between;
}

.footerBlue {
  background-color: rgb(48, 155, 248);
}

.footerRed {
  background-color: rgb(249, 63, 68);
}

.footNav {
  display: flex;
}

.item {
  margin-right: 4rem;
}

.para2 {
  margin-top: 1rem;
}

.footIcons * {
  margin: 0rem 1rem;
}
