.header {
  width: 100vw;
  height: 80px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding: 0rem 4rem;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bolder;
  border-bottom: 2px solid rgba(128, 128, 128, 0.158);
}

.headerBlue {
  background-color: rgb(66, 165, 248);
}
.headerRed {
  background-color: rgb(249, 82, 86);
}

.formBox {
  width: 35%;
  margin-left: -10rem;
}

.form {
  width: 100%;
  display: flex;
}
.input {
  background-color: white;
  align-self: center;
  padding: 0.7rem 2rem;
  padding-left: 3rem;
  width: 100%;
  border-radius: 50px;
  border: 1px solid rgb(241, 234, 217);
}

.input::placeholder {
  color: rgb(201, 200, 200);
}

.navList {
  display: flex;
}
.navItem {
  padding: 0rem 2rem;
  border-radius: 25px;
  border: 5px solid  rgba(247, 191, 71, 0);
  transition: border 500ms;
}

.navItem:hover {
  border: 5px solid  rgb(247, 191, 71);
}


.navItem:last-child {
  padding-right: 0rem;
}
.submitBtn {
  color: white;
  background-color: rgb(247, 191, 71);
  padding: 0.6rem 1rem;
  border-radius: 50%;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
  z-index: 10;
  transform: translateX(-15px);
  cursor: pointer;
}

.submitBtnBlue {
  background-color: rgb(48, 155, 248);
}

.submitBtnRed {
  background-color: rgb(249, 63, 68);
}

.img{
  width:120px;
}
