.card {
  height: 170px;
  width: 160px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  border-radius: 20px;
  transition: all 0.2s;
}
.card:hover {
  transform: translateY(-3px) scale(1.05);
}

.text {
  margin-top: -2.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.cardbtn {
  padding: 0.1rem 1.5rem;
  background-color: rgb(249, 82, 86);
  border-radius: 50px;
  cursor: pointer;
  color: white;
}
